@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'Microsoft YaHei', 'SimSun', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* Light gray background for the whole page */
}
